@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@import url(./assests/css/variables.css);

body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: "IBM Plex Mono";
  font-size: 1rem;
  margin: 0;
}

/* Screen loader */
.loader-container {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  height: 100lvh;
  width: 100lvw;
  position: fixed;
}

.loader {
  height: 3.75rem;
  aspect-ratio: 1;
  position: relative;
  border: 3px solid #0000;
}
.loader:before {
  content: "";
  position: absolute;
  inset: auto 35% 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--accent-color-primary);
  animation: l6-0 0.5s cubic-bezier(0, 800, 1, 800) infinite;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  outline: 3px solid #524656;
  animation: l6-1 0.5s linear infinite;
}
@keyframes l6-0 {
  0%,
  2% {
    bottom: 0%;
  }
  98%,
  to {
    bottom: 0.1%;
  }
}
@keyframes l6-1 {
  0%,
  30% {
    rotate: 0deg;
  }
  70%,
  to {
    rotate: 90deg;
  }
}

.page-wrapper {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

/* Navigation bar  */
nav {
  background-color: var(--forground-color);
  color: var(--text-color-secondary);
  font-size: 1.27rem;
  width: 80%;
  height: 6.25rem;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3.125rem;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

/* Menu items styles */
.nav-items {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

/* SocialMedia Links icons */
.social-icons {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.375rem;
}

.icons {
  display: flex;
  gap: 1.5625rem;
  font-size: 2rem;
}

.theme {
  padding-bottom: 0.187rem;
}

.bi {
  font-size: 1.89rem;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

i:hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a.visited,
a.hover,
a.active,
a.focus {
  color: inherit;
}

/* Main content style */
main {
  width: 70%;
  margin: 4.375rem auto 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6.25rem;
}

main section {
  width: 100%;
}

main section h2 {
  font-family: "Raleway";
  font-size: 3rem;
}

/* Interactive text Section */
.interactive-text {
  text-align: center;
}

.changing-text-heading,
.changing-text {
  font-size: 3rem;
}

.changing-text {
  font-family: "IBM Plex Mono";
  color: var(--accent-color-primary);
}

/* Profile-hero */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10.25rem;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.875rem;
}

.introduction h1 {
  font-size: 3rem;
  margin: 0;
  font-family: "Raleway";
}

.introduction p.intro-text {
  color: var(--text-color-secondary);
  /* font-family: "IBM Plex Mono"; */
  font-size: 1.5rem;
  margin-top: 0.625rem;
  margin-bottom: 3.125rem;
  min-width: 0;
  overflow-wrap: break-word;
}

img {
  width: 31.25rem;
  height: 31.25rem;
  border-radius: 3.75rem;
}

button.get-started {
  background-color: var(--accent-color-primary);
  color: var(--text-color-primary);
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 1.25rem;
  font-family: "IBM Plex Mono";
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid #62ba1b;
  border-radius: 2px;
  box-shadow:
    0 0 6px rgba(255, 255, 255, 0.8),
    0 0 12px rgba(63, 142, 0, 0.5),
    0 0 20px rgba(98, 186, 27, 0.4);
}

button:hover {
  cursor: pointer;
}

/* Skills section */
section.skills {
  color: var(--text-color-primary);
  margin: 1.25rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.skills-head h2 {
  font-family: "Raleway";
  font-size: 3rem;
}

.skill-icons {
  color: var(--text-color-secondary);
  display: flex;
  align-items: center;
  gap: 1.875rem;
  font-size: 3rem;
}

/* Projects Section */
.projects-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  overflow: auto;
}

.projects-list img {
  width: 2rem;
  height: 2rem;
}

/* get in touch styling */

section.get-in-touch {
  margin: 1.25rem auto;
  width: 70%;
}

form {
  border: 2px solid var(--forground-color);
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.625rem;
  /* width: 55%; */
  padding: 3.125rem 3.125rem;
  margin: 0 auto;
}

form h1 {
  color: var(--text-color-primary);
  font-family: "Raleway";
  text-align: center;
}

form p {
  color: var(--text-color-secondary);
}

label {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 0.4375rem;
}

.form-control {
  padding: 0.625rem 0.625rem;
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  color: var(--text-color-primary);
  border: 1px solid;
  border-color: var(--accent-color-secondary);
  border-radius: 0.4375rem;
  background-color: var(--bg-color);
}

textarea {
  padding: 0.625rem 0.625rem;
  margin-bottom: 0.9375rem;
  font-size: 1.5rem;
  border: 1px solid;
  border-color: var(--accent-color-secondary);
  border-radius: 0.4375rem;
  background-color: var(--bg-color);
  color: var(--text-color-primary);
}

.submit-btn {
  /* height: 30px; */
  width: 7.8125rem;
  padding: 0.3125rem;
  font-size: 1.5rem;
  background-color: var(--bg-color);
  color: var(--accent-color-primary);
  border: 2px solid var(--accent-color-secondary);
  border-radius: 0.75rem;
  font-family: "IBM Plex Mono";
}

.submit-btn:hover {
  background-color: var(--accent-color-primary);
  color: var(--text-color-primary);
}

/* Footer style */

footer {
  font-family: "IBM Plex Mono";
  color: var(--text-color-secondary);
  font-size: 1.1rem;
  text-align: center;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
