@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@import url(./assests/css/variables.css);

body {
  font-family: "IBM Plex Mono";
  font-size: 16px;
  background-color: #000000;
  color: #9c9c9c;
  height: 100vh;
  margin: 0;
}

/* Navigation bar styles */

nav {
  font-family: "IBM Plex Mono";
  font-size: 1.2rem;
  width: 80%;
  height: 100px;
  margin: 0 auto 0;
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 100px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Menu items styles */

.nav-items {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

a.item-link {
  color: inherit;
  text-decoration: none;
}

a.item-link:visited,
a.item-link:hover,
a.item-link:active,
a.item-link:focus {
  color: inherit;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* SocialMedia Links icons */

.social-icons {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

i:hover {
  cursor: pointer;
}

a.icon-link {
  color: inherit;
  text-decoration: none;
}

a.icon-link:visited,
a.icon-link:hover,
a.icon-link:active,
a.icon-link:focus {
  color: inherit;
}

/* Main content style */

main {
  width: 60%;
  height: auto;
  margin: 160px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

h1 {
  font-size: 3rem;
  margin: 0;
  color: #ffffff;
  font-family: "Raleway";
}

p.intro-text {
  color: #9c9c9c;
  font-family: "IBM Plex Mono";
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 50px;
  min-width: 0;
  overflow-wrap: break-word;
}

img {
  width: 500px;
  height: 500px;
  border-radius: 60px;
}

/* Interactive text Section */

.interactive-text {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.changing-text-heading,
.changing-text {
  font-family: "Raleway";
  font-size: 5rem;
  color: #ffffff;
}

.changing-text {
  font-family: "IBM Plex Mono";
  color: #62ba1b;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #3f8e00;
  color: #ffffff;
  font-family: "IBM Plex Mono";
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid #62ba1b;
  border-radius: 2px;
  width: 400px;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.8), 0 0 12px rgba(63, 142, 0, 0.5),
    0 0 20px rgba(98, 186, 27, 0.4);
}

button:hover {
  cursor: pointer;
}

a.get-started {
  text-decoration: none;
}

a.get-started:hover,
a.get-started:visited,
a.get-started:focus,
a.get-started:active {
  text-decoration: none;
}

/* Experience Section */

/* Footer style */

footer {
  font-family: "IBM Plex Mono";
  font-size: 1.2rem;
  width: 80%;
  height: 100px;
  margin: 0 auto 0;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 100px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
