@import url(/assests/css/variables.css);

body {
  background-color: var(--bg-color);
  font-family: "IBM Plex Mono";
}

form {
  border: 2px solid var(--accent-color-primary);
  border-radius: 12px;
}

h1 {
  color: #ffffff;
  font-family: "Raleway";
}

label {
  color: #ffffff;
}

.btn {
  color: var(--accent-color-primary);
  border-color: var(--accent-color-primary);
}

.btn:hover {
  background-color: var(--accent-color-secondary);
}
