:root {
  /* dark mode */
  --bg-color: #000000;
  --forground-color: #1b1b1b;
  --text-color-primary: #ffffff;
  --text-color-secondary: #9c9c9c;
  --accent-color-primary: #62ba1b;
  --accent-color-secondary: #3f8e00;
}
/* light mode */
[data-theme="light"] {
  --bg-color: #e4e5f1;
  --forground-color: #fafafa;
  --text-color-primary: #000000;
  --text-color-secondary: #1b1b1b;
  --text-color-optional: #ffffff;
  --accent-color-primary: #62ba1b;
  --accent-color-secondary: #3f8e00;
}
